# Server Configuration
PORT=3001
NODE_ENV=development

# Colyseus
COLYSEUS_WS_PATH=/ws

# Game
FORCE_HANDGUN_SPAWN=false
GAME_TICK_RATE=60
SNAPSHOT_TICK_RATE=30

# Client Build
VITE_API_URL=http://localhost:3001
VITE_WS_URL=ws://localhost:3001
